<div class="login-page">
  <div class="form">
    <form class="register-form" [formGroup]="form">
      <input type="text" placeholder="username" formControlName="username" />
      <input type="password" placeholder="password" formControlName="password" />
      <input type="text" placeholder="email address" formControlName="email" />
      <button (click)="onCreateButtonClick()">create</button>
      <p class="message">Already registered? <a routerLink="/login">Sign In</a></p>
    </form>
  </div>
</div>
