.account-container {
  margin: 50;
}

mat-card {
  min-width: 325px;
}

.card-container {
  flex: 0 0 25em;
  max-width: 33%;
  margin-top: 5%;
  margin-left: 5%;
}

.accounts {
  display: flex;
  flex-wrap: wrap;
}

.add-account button {
  position: absolute;
  right: 100px;
  top: 25px;
}

.add-account {
  position: relative;
  cursor: pointer;
  transition: all 2s;
  /* animation: moveUp */
}

.add-account:hover {
  transform: translateY(-3px);
}

.add-account:active {
  transform: translateY(-1px);
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
