<div class="account-container">
  <div class="add-account">
    <button mat-fab color="primary" style="font-size: 2rem" (click)="onAddAccountClickEvent()">+</button>
  </div>

  <div class="accounts">
    <ng-container *ngFor="let account of accounts | async">
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>
            {{ account.accountName }}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="card-content">
            {{ account.balance }} &#8377;
            <!-- <i class="material-icons">
              expand_more
            </i> -->
          </div>

          <div style="display: flex">
            <div class="subtitle positive" style="width: 125px; margin-right: 10px">
              Cr: 9800 &#8377;
            </div>
            <div class="subtitle negative" style="width: 125px">
              Dr: 6500 &#8377;
            </div>
          </div>
          <div class="transactions" *ngIf="showTransactions">
            <div class="transaction">
              <div class="description">
                Vijayawada to Eluru
              </div>
              <div class="date">Mar 25<sup>th</sup></div>
              <div class="cost subtitle negative">
                95 &#8377;
              </div>
            </div>
            <div class="transaction">
              <div class="description">
                Food at Restaurant
              </div>
              <div class="date">Mar 25<sup>th</sup></div>
              <div class="cost subtitle negative">
                125 &#8377;
              </div>
            </div>
            <div class="transaction">
              <div class="description">
                Eluru to Vijayawada
              </div>
              <div class="date">Mar 25<sup>th</sup></div>
              <div class="cost subtitle negative">
                75 &#8377;
              </div>
            </div>
            <div class="transaction">
              <div class="description">
                Auto to hostel
              </div>
              <div class="date">Mar 25<sup>th</sup></div>
              <div class="cost subtitle negative">
                10 &#8377;
              </div>
            </div>
            <div class="transaction">
              <div class="description">
                Salary
              </div>
              <div class="date">Mar 1<sup>st</sup></div>
              <div class="cost subtitle positive">
                20500 &#8377;
              </div>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <mat-divider></mat-divider>
          <button mat-button style="color: red; margin-top: 5px" (click)="onViewTransactionsClick()">
            View Transactions
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>
