.container {
  /* display: flex; */
}

.content {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);

  grid-template-rows: repeat(auto-fit, 250px);
  /* grid-column-gap: 2em; */
  /* grid-row-gap: 2em; */

  /* grid-auto-rows: 100px; */

  /* grid-auto-rows: minmax(100px, auto); */

  grid-column-gap: 1em;
  grid-row-gap: 2em;

  margin: 2% 2% 2% 2%;
}

.card {
  max-width: 320px;
  min-width: 270px;
}

mat-card {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.statistics {
  padding-top: 1%;
  grid-column: 1/-1;
  /* background-color: black; */
  display: flex;
  /* flex-direction: column; */

  padding: 1%;
  /* text-align: center; */

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* overflow: hidden; */
}

.filter {
  margin: 2% 2% 2% 2%;
  flex: 1;
  background-color: black;
  height: 100%;
}

.today {
  flex: 1;
  flex-shrink: 0;
}

.week {
  flex: 1;
  flex-shrink: 1;
}

.month {
  flex: 1;
  flex-shrink: 1;
}

.year {
  flex: 1;
  flex-shrink: 1;
}

.statistics > * :hover {
  cursor: pointer;
}
