.container {
  /* display: flex; */
}

.content {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);

  /* grid-template-rows: repeat(auto-fit, 250px); */
  /* grid-column-gap: 2em; */
  /* grid-row-gap: 2em; */

  /* grid-auto-rows: 100px; */

  /* grid-auto-rows: minmax(100px, auto); */

  grid-column-gap: 10px;
  grid-row-gap: 10px;

  margin: 1% 1% 1% 1%;
}

.card {
  max-width: 320px;
  min-width: 200px;
  max-height: 175px;
}

mat-card {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.filter {
  margin: 2% 2% 2% 2%;
  flex: 1;
  background-color: black;
  height: 100%;
}
