<div class="container" fxFlex fxLayoutAlign="center center">
  <mat-card class="card">
    <mat-card-content>
      <form [formGroup]="form" fxLayout="column" fxLayoutGap="2px">
        <!-- Record Type and Category Start -->
        <div fxLayout="row" fxLayoutGap="2.5%" fxLayout.xs="column">
          <mat-form-field fxFlex="1 1 35%">
            <mat-select
              placeholder="Transaction Type"
              formControlName="type"
              (selectionChange)="onRecordTypeChange($event)"
            >
              <mat-option *ngFor="let recordType of recordTypes" [value]="recordType.value">
                {{ recordType.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="1 1 60%">
            <mat-select placeholder="Category" formControlName="category">
              <mat-option *ngFor="let category of categories" [value]="category.name">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Record Type and Category End -->

        <!-- Amount and Description Start -->
        <div fxLayout="row" fxLayoutGap="2.5%" fxLayout.xs="column">
          <mat-form-field fxFlex="1 1 35%">
            <mat-label>Amount</mat-label>
            <input matInput numeric maxlength="5" placeholder="120" formControlName="amount" autofocus />
            <span matPrefix>&#8377;&nbsp;</span> <span matSuffix> .00 </span>
          </mat-form-field>

          <mat-form-field class="full-row" fxFlex="1 1 60%">
            <mat-select placeholder="Source" formControlName="accountId">
              <mat-option *ngFor="let account of accounts$ | async" [value]="account._id">
                {{ account.accountName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Amount and Description End -->

        <!-- Income Source Start -->
        <div fxLayout="row" fxLayoutGap="2.5%" fxLayout.xs="column">
          <mat-form-field fxFlex="1 1 100%">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              placeholder="Dinner at favorite restaurant"
              formControlName="reason"
              rows="3"
              class="description"
            ></textarea>
          </mat-form-field>
        </div>
        <!-- Income Source End -->

        <!-- Date and Time Start -->
        <div fxLayout="row" fxLayoutGap="2.5%" fxLayout.xs="column">
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Choose a date"
              formControlName="date"
              date
              maxlength="10"
              (blur)="validateDate($event.value)"
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input
              placeholder="Time"
              aria-label="12hr format"
              [ngxTimepicker]="default"
              matInput
              readonly
              formControlName="time"
            />
            <ngx-material-timepicker #default></ngx-material-timepicker>
          </mat-form-field>
        </div>
        <!-- Date and Time End -->

        <div fxLayout="row" fxLayoutGap="5%">
          <button mat-raised-button color="primary" (click)="onSubmitButtonClick()" [disabled]="!form.valid">
            Submit
          </button>
          <!-- <button mat-raised-button>Submit+</button> &nbsp; -->
          <button mat-raised-button color="warn" (click)="onClearButtonClick()">
            Clear
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
