<header class="statistics">
  <ng-container *ngFor="let stat of stats$ | async">
    <!-- <div class="ui statistic">
      <div class="value" [ngStyle]="{ color: stat.consumed < 0 ? 'red' : 'black' }">
        {{ stat.consumed }}&#8377;
      </div>
      <div class="label">{{ stat.label }}</div>
      <div style="max-width: 100px; padding-left: 30%">
        <mat-progress-bar mode="determinate" [value]="stat.percentageConsumed"></mat-progress-bar>
      </div>
    </div> -->

    <statistic [stat]="stat" (click)="onStatClick(stat.label)"></statistic>
  </ng-container>

  <!-- <div class="ui statistic today">
    <div class="value" [ngStyle]="{ color: (todayTotal | async) < 0 ? 'red' : 'black' }">
      {{ todayTotal | async }}&#8377;
    </div>
    <div class="label">TODAY</div>
    <div style="max-width: 100px; padding-left: 30%">
      <mat-progress-bar mode="determinate" [value]="budgets.dailyBudget"></mat-progress-bar>
    </div>
  </div>

  <div class="ui statistic week">
    <div class="value" [ngStyle]="{ color: (weekTotal | async) < 0 ? 'red' : 'black' }">
      {{ weekTotal | async }}&#8377;
    </div>
    <div class="label">THIS WEEK</div>
    <div style="max-width: 100px; padding-left: 30%">
      <mat-progress-bar mode="determinate" [value]="budgets.weeklyBudget"></mat-progress-bar>
    </div>
  </div>
  <div class="ui statistic month">
    <div class="value" [ngStyle]="{ color: (thisMonthTotal | async) < 0 ? 'red' : 'black' }">
      {{ thisMonthTotal | async }}&#8377;
    </div>
    <div class="label">THIS MONTH</div>
    <div style="max-width: 100px; padding-left: 30%">
      <mat-progress-bar mode="determinate" [value]="budgets.monthlyBudget"></mat-progress-bar>
    </div>
  </div>
  <div class="ui statistic year">
    <div class="value" [ngStyle]="{ color: (thisYearTotal | async) < 0 ? 'red' : 'black' }">
      {{ thisYearTotal | async }}&#8377;
    </div>
    <div class="label">THIS YEAR</div>
    <div style="max-width: 100px; padding-left: 30%">
      <mat-progress-bar mode="determinate" [value]="budgets.yearlyBudget"></mat-progress-bar>
    </div>
  </div> -->
</header>
