<div style="margin-left: 5%; margin-top: 5%; max-width: 950px">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Budgets </mat-panel-title>
        <mat-panel-description>
          Set daily, weekly, monthly, yearly budgets
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="form">
        <p>
          &nbsp; &nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Daily Budget</mat-label>
            <input matInput placeholder="Daily Budget" numeric maxlength="5" formControlName="dailyBudget" />
          </mat-form-field>

          &nbsp; &nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Weekly Budget</mat-label>
            <input
              matInput
              placeholder="Weekly Budget"
              numeric
              maxlength="5"
              formControlName="weeklyBudget"
            />
          </mat-form-field>

          &nbsp; &nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Monthly Budget</mat-label>
            <input
              matInput
              placeholder="Monthly Budget"
              numeric
              maxlength="5"
              formControlName="monthlyBudget"
            />
          </mat-form-field>

          &nbsp; &nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Yearly Budget</mat-label>
            <input
              matInput
              placeholder="Yearly Budget"
              numeric
              maxlength="5"
              formControlName="yearlyBudget"
            />
          </mat-form-field>
        </p>
      </form>
      <button mat-raised-button color="primary" (click)="onSaveButtonClick()">
        Save
      </button>
    </mat-expansion-panel>
  </mat-accordion>

  <br />

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Enable / Disable Features </mat-panel-title>
        <mat-panel-description>
          <!-- Enable / Disable Features -->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="featuresForm">
        &nbsp; &nbsp;
        <mat-checkbox color="primary" style="margin-right: 25px" formControlName="isTagsEnabled"
          >Enable Tags Feature</mat-checkbox
        >

        <mat-checkbox color="primary" formControlName="isAccountEnabled"
          >Enable Accounts Feature</mat-checkbox
        >
      </form>

      <br />
      <br />
      <button mat-raised-button color="primary" (click)="onFeatureSaveButtonClick()">
        Save
      </button>
    </mat-expansion-panel>
  </mat-accordion>

  <br />

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> User Accounts </mat-panel-title>
        <mat-panel-description>
          <!-- Enable / Disable Features -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let account of accounts | async">
        <form [formGroup]="accountsForm">
          <div class="account-list-container">
            <i class="material-icons" id="account-icon">
              account_balance
            </i>
            <span class="account-name aligned-with-icon">
              {{ account.accountName }}
            </span>
            <span>
              <mat-form-field
                appearance="outline"
                style="display: inline-block; margin: 10px; margin-top: 25px"
              >
                <mat-label>Balance</mat-label>
                <input
                  matInput
                  numeric
                  maxlength="5"
                  formControlName="balance"
                  [(value)]="account.balance"
                  (focusout)="accountBalanceFocusOut(account)"
                />
                <!-- <span matPrefix>&#8377;&nbsp;</span> <span matSuffix> .00 </span> -->
              </mat-form-field>
            </span>
            <i class="material-icons account-delete-icon" (click)="onAccountDeleteClick(account)">
              delete
            </i>
          </div>
        </form>
      </ng-container>
      <br />
      <br />
    </mat-expansion-panel>
  </mat-accordion>
  <p>
    <button mat-raised-button color="primary" (click)="onExportButtonClick()">
      Export
    </button>
  </p>
</div>
